<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chitro AI</title>
    <meta property="og:image" content="assets/img/logo2.png">
    <meta name="description"
        content="AI Generated Image using the language you like. Chitro.ai is an web app that enables you to generate AI Generated Images in the language you want to use. It support upto 50+ languages.">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-Dark-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="./assets/js/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/translate@1/translate.min.js"></script>
</head>

<body>
    <div id="particles-js"
        style="height: 100vh;width: 100vw;background: #000;position: fixed;z-index: -2;margin: 0;top: 0;"></div>
    <div id="glass" class="about-us">
        <p style="color: #fff;font-family: consolas;text-align: center;font-size: 2.7rem;margin: 0;">About Us</p><img
            class="d-sm-flex" id="brand-img" src="assets/img/brands.png" width="300px">
        <p style="color: white;padding: 0 2rem;text-align: justify;">At bigT and Xenon, we specialize in developing
            cutting-edge AI applications that help businesses and individuals stay ahead of the curve. Our team of
            experts is dedicated to creating innovative solutions that leverage the latest advancements in artificial
            intelligence and machine learning. From AI to predictive analytics, our products are designed to streamline
            processes, improve efficiency, and drive growth. We are committed to providing our customers with the
            highest level of service and support, and we are constantly pushing the boundaries of what is possible with
            AI. bigT and Xenon has the expertise and experience to help you succeed in the ever-evolving world of
            technology.</p>
        <p style="color: #fff;font-family: consolas;text-align: center;font-size: 2.7rem;margin: 0;">Contact Us</p>
        <div id="socials" style="margin-bottom: 4rem;"><a href="mailto: chitroai@gmail.com">Link<i
                    class="fas fa-envelope" style="color: white;font-size: 4rem;"></i>Email</a><a
                href="https://www.facebook.com/profile.php?id=100090103650550">Link<i class="fab fa-facebook-square"
                    style="color: white;font-size: 4rem;"></i>Email</a></div>
    </div><br><br>
    <div id="footer">
        <p style="text-align: left;margin-left: 1.5rem;color: #fff6;">© 2023 ChitroAI</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/particalLoader.js"></script>
    <script src="assets/js/particles.min.js"></script>
</body>

</html>