<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chitro AI</title>
    <meta property="og:image" content="assets/img/logo2.png">
    <meta name="description" content="AI Generated Image using the language you like. Chitro.ai is an web app that enables you to generate AI Generated Images in the language you want to use. It support upto 50+ languages.">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="3264x3264" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-Dark-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
<script src="./assets/js/particles.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/translate@1/translate.min.js"></script>
</head>

<body>
    <div id="particles-js" style="height: 100vh;width: 100vw;background: #000;position: fixed;z-index: -2;margin: 0;top: 0;"></div>
    <div id="glass">
        <h1 class="text-center" style="color: white;margin-top: 1.5rem;margin-bottom: 1rem;">FAQ</h1>
        <ul class="list-group" style="margin: 0 2rem;border-radius: 0;margin-bottom: 4rem;">
            <li class="list-group-item" style="border-top-left-radius: 16px;border-top-right-radius: 16px;background: #aaa5;color: white;">
                <h4 style="margin-top: 1rem;"><strong>Q: What is Chitro.AI?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Chitro.AI is an online multilingual image generator website that allows users to create custom images using artificial intelligence technology.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;">
                <h4><strong>Q:How Chitro.AI is unique?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Chitro.AI offers multi-language support where you can generate images with 100+ languages.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;">
                <h4><strong>Q:Who made Chtro.AI?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Xenon &amp; bigT Devs made Chitro.AI in collaboration.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;">
                <h4><strong>Q: What type of images can I create on Chitro.AI?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Chitro.AI offers a variety of image generation options, including custom illustrations, Artworks etc.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;">
                <h4><strong>Q: Is there any cost to use Chitro.AI?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Currently it is in beta. Users can generate up to 20 images for free during the beta testing.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;">
                <h4 style="text-align: left;"><strong>Q: Can I use the images I create on Chitro.AI for commercial purposes?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Yes, Chitro.AI allows users to use the images they create for commercial purposes with proper credit to the website.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;">
                <h4><strong>Q:How Chitro.AI is made?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Chitro.AI uses “Dall-E” API for image generation.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;">
                <h4><strong>Q: How do I download the images I create on Chitro.AI?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Click &amp; Hold the generated image to download from any web browser.</p>
            </li>
            <li class="list-group-item" style="background: #aaa5;color: white;border-bottom-right-radius: 16px;border-bottom-left-radius: 16px;">
                <h4><strong>Q: Is there any customer support for chitro.ai?</strong></h4>
                <p style="margin-left: 1rem;text-align: left;">A: Yes, Chitro.AI offers a customer support team that can be reached via Email or Facebook page.</p>
            </li>
        </ul>
    </div>
    <div id="footer">
        <p style="text-align: left;margin-left: 1.5rem;color: #fff6;">© 2023 ChitroAI</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/particalLoader.js"></script>
    <script src="assets/js/particles.min.js"></script>
</body>

</html>